.mural {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px 20px;
    border: 0.5px solid rgba(0, 0, 0, 0.39);
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 100%;
    flex-grow: 1;
    padding-bottom: 30px;
}

.mural-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mural-principal  img {
    border-radius: 10px;
    width: 100%;
    -moz-transition: all 0.6s;
    -webkit-transition:  all 0.6s;
    transition: all 0.6s;
    cursor: pointer;
}

.veja-mais {
    margin: 0 auto;
    width: 85%;
    border: 2px solid  rgba(0, 0, 0, 0.39);
    color:  rgba(0, 0, 0, 0.527);
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-veja-mais {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.8rem;
    text-align: left;
    padding-left: 20px;
}

.noticia-diaria {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
}

.diaria {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.dia-img {
    cursor: pointer;
}

.diaria-titulo {
    font-size: 2rem;
    color: var(--backEnd);
    text-align: center;
    cursor: pointer;
}

.diaria-resumo {
    margin-top: 5px;
    font-size: 1.5rem
}

.diaria-data {
    margin-top: 5px;
    font-size: 1.2rem;
}

#direita-header h2 {
    text-align: center;
    padding: 10px 0 10px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.164);
}

.direita-blog hr{
    width: 90%;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.164)
}

.diaria-area-direita {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.39);
    height: 100%;
}

.direita-blog {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
    
.blog-container {
    display: grid;
    width: 88%;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    "blog-autor blog-img"
    "blog-titulo blog-img";
    margin: auto;
    gap: 20px 0;
    padding-top: 25px;
}

.blog-autor {
    grid-area: blog-autor;
    font-size: 1.3rem;
}

.blog-titulo {
    grid-area: blog-titulo;
    font-size: 1.5rem;
    color: #c4170c;
    cursor: pointer;
}

.blog-titulo:hover {
    color: #662723;
}

.blog-img {
    grid-area: blog-img;
}

/* Responsivo */

@media(max-width: 560px){
    .mural {
        width: 100%;
    }
}

@media(max-width: 1000px){
    .blog-titulo {
        font-size: 1.5rem;
    }
}


@media(max-width: 1100px){
    .banner {
        display: none;
    }

}

@media(min-width: 1200px){
    .mural-principal {
        display: grid;
        margin: auto;
        grid-template-columns: 2fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "not1 not2"
        "not1 not3";
        gap: 30px;
    }

    #not1 {
        grid-area: not1;
    }

    #not2 {
        grid-area: not2;
    }

    #not3 {
        grid-area: not3;
        margin-top: -25px;
    }

    #not1:hover, #not2:hover, #not3:hover img{
        -moz-transform: scale(1.05);
        -webkit-transform:  scale(1.05);
        transform: scale(1.05);
    }

    .noticia-diaria {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .diaria-area-esquerda {
        flex: 65%;
    }
    
    .diaria-area-direita {
        flex: 25%;
    }
    
    .diaria {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr 0fr;
        grid-template-areas: 
        "dia-img diaria-titulo"
        "dia-img diaria-resumo"
        "dia-img diaria-data";
        gap: 10px;
        padding-bottom: 30px;
    }

    .dia-img {
        grid-area: dia-img;
        width: 100%;
        margin: 0 auto;
    }
    
    .diaria-titulo {
        font-size: 2rem;
        text-align: left;
        grid-area: diaria-titulo;
        padding-right: 15px;
        width: 80%;
        text-align: left;
    }
    
    .diaria-resumo {
        grid-area: diaria-resumo;
        font-size: 1.5rem;
        padding-right: 15px;
        width: 80%;
        text-align: left;
    }
    
    .diaria-data {
        grid-area: diaria-data;
        marker-start: initial;
    }

    .blog-titulo {
        font-size: 1rem;
    }

}

@media(min-width: 1300px){
    .blog-titulo {
        font-size: 1.5rem;
    }
}

@media(min-width: 1800px){

    .diaria-titulo {
        font-size: 2.5rem;
    }

    .diaria-resumo {
        font-size: 2rem;
    }

    .diaria-data {
        font-size: 1.5rem;
    }

    .blog-titulo {
        font-size: 2rem;
    }
    
}