.mural {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px 20px;
    border: 0.5px solid rgba(0, 0, 0, 0.39);
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 100%;
    flex-grow: 1;
    padding-bottom: 30px;
}

.mural-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mural-principal  img {
    border-radius: 10px;
    width: 100%;
    -moz-transition: all 0.6s;
    -webkit-transition:  all 0.6s;
    transition: all 0.6s;
    cursor: pointer;
}

.veja-mais {
    margin: 0 auto;
    width: 80%;
    border: 2px solid  rgba(0, 0, 0, 0.39);
    color:  rgba(0, 0, 0, 0.527);
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-veja-mais {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5rem;
    text-align: left;
    padding-left: 20px;
}

.noticia-diaria {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.diaria {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.diaria-titulo {
    font-size: 2rem;
    color: var(--backEnd);
    text-align: center;
}

.diaria-resumo {
    margin-top: 5px;
    font-size: 1.5rem
}

.diaria-data {
    margin-top: 5px;
    font-size: 1.2rem;
}


.rodape {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    background-color: aqua;
    padding: 2% 4.5% 2% 4.5%;
}

.rodape-logo {
    display: flex;
    justify-content: flex-start;
    width: 10%;
}

.rodape-ultima-linha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rodape-politica p a {
    text-decoration: none;
}


/* Responsivo */

@media(max-width: 560px){
    .mural {
        width: 100%;
    }

    .rodape-politica{
        display: none;
    }
}

@media(max-width: 1100px){
    .banner {
        display: none;
    }

    .rodape-politica p{
        font-size: 1.3rem;
    }

}


@media(min-width: 1200px){
    .mural-principal {
        display: grid;
        margin: auto;
        grid-template-columns: 2fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "not1 not2"
        "not1 not3";
        gap: 30px;
    }

    #not1 {
        grid-area: not1;
    }

    #not2 {
        grid-area: not2;
    }

    #not3 {
        grid-area: not3;
        margin-top: -25px;
    }

    #not1:hover, #not2:hover, #not3:hover img{
        -moz-transform: scale(1.05);
        -webkit-transform:  scale(1.05);
        transform: scale(1.05);
    }

    .noticia-diaria {
        flex-direction: row;
    }
    
    .diaria-area-esquerda {
        flex: 70%;
    }
    
    .diaria-area-direita {
        flex: 25%;
    }
    
    .diaria {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "dia-img diaria-titulo"
        "dia-img diaria-resumo"
        "dia-img diaria-data";
        gap: 10px;
        padding-bottom: 30px;
    }

    
    #dia-img {
        grid-area: dia-img;
    }
    
    .diaria-titulo {
        font-size: 1.6rem;
        text-align: left;
        grid-area: diaria-titulo;
    }
    
    .diaria-resumo {
        grid-area: diaria-resumo;
        font-size: 1.2rem;
    }
    
    .diaria-data {
        grid-area: diaria-data;
        marker-start: initial;
    }
    
    .diaria-area-direita {
        padding-left: 20px;
    }

}
