
.rodape {
    width: 100%;
    margin-top: 20px;
    background-color: var(--primary);
    padding: 2% 4.5% 2% 4.5%;
}

.rodape-logo {
    display: flex;
    justify-content: center;
}

.rodape-ultima-linha {
    display: none;
}


@media(max-width: 560px){
    .rodape-politica p{
        display: none;
    }
}


@media(max-width: 1100px){
    .rodape-politica p{
        font-size: 1.3rem;
    }

}

@media(min-width: 1200px){
    .rodape {
        display: flex;
        flex-direction: column;
    }
    
    .rodape-logo {
        display: flex;
        justify-content: flex-start;
        width: 10%;
    }
    
    .rodape-ultima-linha {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .rodape-politica p a {
        text-decoration: none;
        font-size: 2rem;
    }

}

