html {
    font-size: 50%;
}

@media (max-width: 768px) {
  html{
    font-size: 55%;
  }
}

@media (max-width: 640px) {
  html{
    font-size: 50%;
  }
}

@media (max-width: 580px) {
    nav {
        display: none;
    }
      /*sanduiche menu*/
    .one,
    .two,
    .three {
        background-color: #fff;
        height: 5px;
        width: 100%;
        margin: 6px auto;
        transition-duration: 0.8s;
    }

    .menu-toggle {
        width: 40px;
        height: 30px;
        margin-right: 20px;
    }

}

@media (max-width: 320px) {

}
